@{
    Layout = null;
}
@model IEnumerable<WebEmThuong.Models.Reservation>

<!DOCTYPE html>
<html>
<head>
    <title>List of Reservations</title>
    <link rel="stylesheet" type="text/css" href="~/css/AdminIndex.css" />
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>People</th>
                <th>Date</th>
                <th>Time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model)
            {
                <tr onclick="window.location.href = '@Url.Action("Detail", "Admin", new { id = r.Id })';" style="cursor: pointer;">
                    <td>@r.Name</td>
                    <td>@r.PhoneNumber</td>
                    <td>@r.Email</td>
                    <td>@r.NumberPeople</td>
                    <td>@r.Date</td>
                    <td>@r.Time</td>
                    <td>@r.Status</td>
                </tr>
            }
        </tbody>
    </table>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            debugger;
            var connection = new signalR.HubConnectionBuilder().withUrl("/myHub").build();
            connection.on("ReceiveReservationNotification", function (reservationId) {
                // Hiển thị thông báo khi có đặt bàn mới
                alert("Có một đặt bàn mới! "+ reservationId);
            });

            connection.start().then(function () {
                console.log("Connected to ReservationHub.");
            }).catch(function (err) {
                return console.error(err.toString());
            });
        });
    </script>
</body>
</html>